.hero {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f0f6ff;
  text-align: center;
}

.hero h1 {
  font-size: 40px;
  color: #0a66c2;
}

.hero p {
  font-size: 20px;
  margin: 15px 0;
}

.btn {
  background-color: #0a66c2;
  color: white;
  padding: 12px 25px;
  border-radius: 5px;
  transition: 0.3s ease;
}

.btn:hover {
  background-color: #084a91;
  transform: translateY(-2px);
}


@media (max-width: 768px) {
  .hero h1 {
    font-size: 28px;
  }

  .hero p {
    font-size: 16px;
  }
}
